html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Kumbh Sans', sans-serif, 'Lobster', cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #333333;  
}

  h1 {
    font-size: 60px;
    text-align: center;
    color: #F0ED31;
    font-family: 'Kumbh Sans', sans-serif;
  }

  body {
    width: 800px;
    margin: 0 auto;
    background-color: #333333;
    padding: 0 20px 60px 20px;
  }

  a {
      color: #F0ED31;
      text-decoration: none;
  }

  a:hover {
      color: #F8F79A;
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .profile-pic {
      text-align: center;
      max-width: 340px;
      border-radius: 300px;
      border: 2px solid white;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
  }